.main_sidebar {
  display: grid;
  gap: 5vh;
}

/* .categories_main,
.sortBy_main {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

.categories_main {
  padding-inline: 3vw;
}

.heading {
  display: flex;
  justify-content: space-between;
  font-family: var(--primary-font);
  color: var(--font-color-second);
  padding: 1vh 0vw;
  /* margin-inline: 3vw; */
  /* border: 1px solid green; */
  cursor: pointer;
  align-items: center;
}
.side_filter a {
  color: var(--font-color-second);
}

.category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-block: 12px;
  font-family: var(--primary-font);
}

.categories_main li:hover,
.sortBy_main li:hover {
  background-color: white;
  color: var(--tert);
  transition: background 0.1s linear;
}

.categories_main li:not(:hover),
.sortBy_main li:not(:hover) {
  background-color: transparent;
  color: var(--font-color-second);
  transition: background 0.5s ease-out;
}
.heading span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categories_main li,
.sortBy_main li {
  list-style-type: none;
  font-family: var(--primary-font);
  font-size: 1rem;
  padding-block: 10px;
  padding-left: 3vw;
  color: var(--font-color-second);
  cursor: pointer;
  margin-left: 2vw;
  border-radius: 20px 0px 0px 20px;
}
