.hero_image {
  width: 100%;
}
.hero_image img {
  width: 100%;
}
.products_main {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  background-color: white;
  padding: 1vh 2vw;
}
.products_top {
  display: flex;
  justify-content: space-between;
  color: var(--font-color-second);
  font-family: var(--second-font);
  font-weight: 400;
  align-items: center;
}
.products_top h1 {
  font-size: 1.2rem;
}
.products_top span {
  display: flex;
  gap: 10px;
  align-items: center;
}
.banner_main {
  display: flex;
  gap: 2%;
}
.banner_main > img {
  width: 66%;
  /* border: 1px solid red; */
}
.hotdeals_main {
  width: 32%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
.heading span {
  display: flex;
  gap: 10px;
}
.heading h3 {
  font-size: 1rem;
  font-family: var(--second-font);
  color: var(--font-color-second);
  margin-bottom: 8px;
}
.product_card {
  position: relative;
  display: grid;
  place-items: center;
  /* border: 1px solid red; */
}
.tag {
  background-color: #fec0c1;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  color: var(--body);
}

.details {
  position: absolute;
  /* border: 1px solid red; */
  width: 40%;
  left: 10px;
}
.details h5 {
  color: var(--primary);
  font-size: 1.5rem;
}

.banner2 {
  height: 220px;
  position: relative;
}
.banner2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner2 span {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--primary);
  padding: 5px 10px;
  transform: rotate(-45deg);
  transform-origin: left center;
  /* white-space: nowrap; */
}
.banner2 span::after {
  content: "";
}
